 /*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
/* ==================== */
/* === NAVBAR START === */
/* ==================== */

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #20202b;
  color: #000;
}

#mainNav .navbar-brand {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}
#mainNav .navbar-brand img {
  margin-left: -0.5rem;
  height: 3.5rem; /* navbarlogo op tellymodus */
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 500;
  color: white;
  letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #eb217c;
  font-weight: 500;
}

@media (max-width: 992px) {
  .nav-link{
    color: #fff !important;
    font-weight: 700 !important;
  }
#mainNav{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
  .nav-link:hover{
    color: #eb217c !important;
    font-weight: 700 !important;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }

  #mainNav .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
  }
  #mainNav .navbar-brand img {
    height: 2rem;
    transition: height 0.3s ease-in-out;
  }
  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #20202b;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }
  #mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}
/* ==================== */
/* === NAVBAR END === */
/* ==================== */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}



/* 

algemeen styling
*/
html,
body {
  background: #20202b;
  font-family: 'Poppins', sans-serif;
}

body .page-content {
  margin-top: 110px;
  background-color: #262633;
  padding: 55px;
  border-radius: 23px;
}

p {
  font-size: 15px;
  color: #666;
  line-height: 30px;
  margin-bottom: 0px;
}

::selection {
  background:  #eb217c;
  color: #ffffffff;
}

::-moz-selection {
  background: #eb217c;
  color: #ffffffff;
}

/*=====================*/
/*==START CUSTOM SCROLL ==*/
/*=====================*/
	/* own scrollbar */
html {
    /* scrollbar firefox */
    scrollbar-color: #19072e #eb217c;
}

/* Note: The -webkit-scrollbar is not supported by Firefox or IE and Edge. */

::-webkit-scrollbar {
    /* width */
    width: 12px;
}

::-webkit-scrollbar-track {
    /* Track */
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    /* Handle */
    background: #bd1e6f;
}

::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: #bd1e6f;
}

::-webkit-scrollbar-track-piece {
    /* not handle on */
    background: #19072e;
}
/*=====================*/
/*==END CUSTMO SCROLL==*/
/*=====================*/


/*=====================*/
/*==START MAIN BUTTON==*/
/*=====================*/

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 button.learn-more {
  width: 12rem;
  height: auto;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #19072e;
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #eb217c;
  border-right: 0.125rem solid #eb217c;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #eb217c;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: #eb217c;
 }

/*=====================*/
/*== END MAIN BUTTON==*/
/*=====================*/
section {
  margin-top: 120px;
}

/*SUBMIT BTN START*/

.submitbtn {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 1.5rem;
  overflow: hidden;
  transition: all 0.2s;
}

.submitbtn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.submitbtn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.submitbtn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.submitbtn:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.submitbtn:hover span {
  transform: translateX(5em);
}

.submitbtn:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


/*Let us help you button*/
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff !important;
  background-color: #1e0d4b;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #2d2e46;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #29293f;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #ff4655;
  color: #29293f !important;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
  color: white !important;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}
.help {
  margin-bottom: -4.5rem;
  display: flex;
  justify-content: center;
}
/*Let us help you button END*/


/*SUBMIT BTN END*/

/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/
/*navbar toggler START =======================*/

.burger {
  position: relative;
  width: 2.7rem;
  height: 1.8rem;
  background: transparent;
  cursor: pointer;
  border-color: transparent !important;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #eb217c;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  margin-top: 0.375rem ;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(3) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(2) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

/*navbar toggler END ========================*/
.banner {
  background-image: linear-gradient(rgba(167, 84, 84, 0.5), rgba(197, 92, 162, 0.075)), url(../extra/images/banner.png);
  background-position: center center;
  background-size: cover;
  min-height: 40rem;
  border-radius: 30px;
  padding: 110px 60px;
  cursor: url("../extra/images/cursor/you.png") 25 15, auto !important; /*custom cursor banner section*/
}

#hobby{
  cursor: url("../extra/images/cursor/are.png") 30 27, auto !important; /* Custom cursor emails section*/
}

#softwareskills{
  cursor: url("../extra/images/cursor/awesome.png") 30 27, auto !important; /* Custom cursor life missions section*/
}


.banner h4 {
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 25px;
  color: #fff;

}

.banner h4 em {
  font-style: normal;
  color: #19072e;
}

/* 
---------------------------------------------
MORE HAPPY START
--------------------------------------------- 
*/

.aboutus {
  margin-top: 8rem;
  padding: 30px;
  border-radius: 30px;
  background-color: #1e1e2b;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */

.bd-placeholder-img{
  width: 100%;
  height: 14rem;
}

/* MORE HAPPY END
-------------------------------------------------- */

.aboutus2 {
  margin-top: 60px;
  padding: 30px;
  background-color: #27292a;
  border-radius: 23px;
}



.aboutus .main-button {
  text-align: center;
  margin-bottom: -53px;
}












/* 
---------------------------------------------
Responsive Style
--------------------------------------------- 
*/

body {
  overflow-x: hidden;
}

@media (max-width: 767px) {
  body .page-content {
    padding: 0px 25px;
    
  }

  .page-content{
    padding-top: 1.7rem !important;
    padding-bottom: 2rem !important;
    padding-left: 1.8rem !important;
    padding-right: 1.7rem !important;
  }

  .banner {
    text-align: left;
    padding: 90px 60px;
  }
}

@media (max-width: 992px) {
  .bannerem{
    color: #141731 !important;
  }
}

@media (max-width: 992px) {
  .background-header {
  display: inline-block;
  }
  .header-area .main-nav #search {
    display: none;
  }
  .heading-section h4 {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-right: 5px;
    padding-left: 5px;
  }

  .header-area .main-nav .logo {
    margin-right: 30px;
    border-right: none;
  }
}


.contact-section{
	padding: 15px;
	display: grid;
	grid-template-columns: 1fr;
}

.contact-info h3{
	margin-bottom: 30px;
}

.contact-info .text{
	line-height: 26px;
	margin-bottom: 20px;
	margin-left: 12px;
}

.contact-info img{
	display: none;
}

form{
	background: transparent;
}
form .block{
	position: relative;
}



form .block i{
	position: absolute;
	line-height: 50px;
	left: 15px;
	font-size: 18px;
	color: #eb217c;
}

/* Hidden placeholder for dropdown select div element */
.dogucan {
	display: none;
}

form input, form textarea, .form-select{
	display: block;
	margin-bottom: 30px;
	outline: none;
	font-size: 16px;
	padding-left: 45px;
	font-family: poppins;
	width: 100%;
	border:  thin solid transparent;
	color: #555;
}

form input{
	height: 50px;
	background-color: transparent;
  font-weight:bold;
	color: #eb217c;
}

.form-select{
  height: 50px;
	background-color: transparent;
  font-weight:bold;
	color: #eb217c;
}

form textarea{
	min-height: 150px;
	padding-top: 15px;
	line-height: 24px;
	color: #eb217c;
  font-weight:bold;
	background-color: transparent;
}

form input:focus,
form textarea:focus, .form-select:focus{
  outline: none;
  animation: 3s rotate9234 linear infinite;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
	color: #555;
  border: solid 3px #eb217c;
  border-radius: 0.3rem; 
}


form button.disabled{
	display: none;
}

form button i{
	display: inline-block;
	padding-left: 7px;
	transform: scale(1.2);
}

form button:hover{
	background-color: transparent;
	color: #fff; /* needs to stay here because of the color property of a tag */
	border-color: #fff;
	text-decoration: none;
}
form button:active{
	background-color:  white;
	opacity: 0.2;
	color: #191919;
}

.error{
	color: #721c24;
	background: #f5cad3;
	border-color: #f5c6cb;
	margin-top: 20px;
	padding: 10px;
	border-radius: 0.25rem;
	display: none;
	font-weight: bolder;
}

.success{
	color: #155724;
	background: #d4edda;
	border-color: #c3e6cb;
	margin-top: 20px;
	padding: 10px;
	border-radius: 0.25rem;
	display: none;
	font-weight: bolder;
}

.please-wait, .please-wait2, .please-wait3{
  display: none;
}


/*LABEL TEXT OF CHECKBOX START*/
@media (max-width: 461px) {

  .labeltekst{
    text-align: left;
    display: inline-block !important;

  }

}
/*LABEL TEXT OF CHECKBOX  END */

/***********************/
/*    Submit-Loader    */
/***********************/
.loading {
  --path: #2f3545;
  --dot: #ed217c;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}

.loading:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loading svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loading svg rect, .loading svg polygon, .loading svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loading svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loading svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loading svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loading.triangle {
  width: 48px;
}

.loading.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }

  66% {
    transform: translate(10px, -18px);
  }

  100% {
    transform: translate(-10px, -18px);
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(18px, -18px);
  }

  75% {
    transform: translate(0, -36px);
  }

  100% {
    transform: translate(-18px, -18px);
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }

  50% {
    stroke-dashoffset: 175;
  }

  75% {
    stroke-dashoffset: 225;
  }

  100% {
    stroke-dashoffset: 275;
  }
}

.loading {
  display: inline-block;
  margin: 0 16px;
}

 

 

/***********************/
/*  Submit-Loader END  */
/***********************/

@media (min-width: 1000px){
	.contact-section{
		grid-template-columns: 1fr 1fr;
		max-width: 900px;
		margin: 50px auto;
		padding: 0;
		/* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); */
	}

	.contact-info{
		background: transparent;
		padding: 40px 20px;
		/*color: #fff;*/
	}

	.contact-info img{
		display: block;
		width: 25rem;
		margin: 40px auto;
	}

	form{
		padding: 40px 20px;
	}
}

/******************************/
/*     Back To Top knop       */
/******************************/
#btn-back-to-top {
  z-index: 9999;
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  background: #2d2e46;
  color: #df2384;
  border-color: transparent;
  transition: ease-in .1s;
}

#btn-back-to-top:hover{
  transition: ease-in .2s;
  background: #26273b;
  color: #d1207b;
}

.backtotop{
  border-radius: 2rem;
}
/******************************/
/*     Back To Top knop END   */
/******************************/

/*start checkbox*/
.cbx {
  position: relative;
  top: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
  display: block;
 }
 
 .cbx:after {
  content: '';
  position: absolute;
  top: 0.3px;
  left: 5px;
  width: 7px;
  height: 14px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
 }
 
 .lbl {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
 }
 
 #checkbx1:checked ~ .cbx {
  border-color: transparent;
  background: #ff4655;
  animation: jelly 0.6s ease;
 }
 
 #checkbx1:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
 }

 
 
 .cntr {
  position: relative;
 }
 
 @keyframes jelly {
  from {
   transform: scale(1, 1);
  }
 
  30% {
   transform: scale(1.25, 0.75);
  }
 
  40% {
   transform: scale(0.75, 1.25);
  }
 
  50% {
   transform: scale(1.15, 0.85);
  }
 
  65% {
   transform: scale(0.95, 1.05);
  }
 
  75% {
   transform: scale(1.05, 0.95);
  }
 
  to {
   transform: scale(1, 1);
  }
 }
 
 .hidden-xs-up {
  display: none!important;
 }
 
/*end checkbox*/

/*Dogucan Webdesign Credits START*/
.Dogucanwebdesign{
  text-decoration: none;
}

.Dogucanwebdesign:hover{
  text-decoration: underline;
}
/*Dogucan Webdesign Credits END*/



/* FOOTER START */
.footer62{
  background-color: rgb(38, 38, 51) !important;
}
/* FOOTER END   */

/**/
/* 
---------------------------------------------
Live Stream Style
--------------------------------------------- 
*/

.live-stream {
  margin-top: 60px;
  border-radius: 23px;
  background-color: #1f2122;
  padding: 30px;
}

.live-stream .item {
  margin-bottom: 30px;
}

.live-stream .thumb {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.live-stream .thumb img {
  border-radius: 12px; 
}

.live-stream .thumb:hover .hover-effect {
  opacity: 1;
  visibility: visible;
}

.live-stream .hover-effect {
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}

.live-stream .hover-effect .live a { 
  position: absolute;
  background-color: rgba(236, 96, 144, 0.9);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  right: 15px;
  top: 15px;
}

.live-stream .hover-effect ul {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.live-stream .hover-effect ul li {
  display: inline-block;
  margin: 0px 5px;
}

.live-stream .hover-effect ul li a {
  background-color: rgba(236, 96, 144, 0.9);
  padding: 5px 10px;
  border-radius: 23px;
  color: #fff;
  font-size: 14px;
}

.live-stream .avatar img {
  margin-right: 15px;
}

.live-stream span i {
  color: #fff;
  background-color: #ec6090;
  border-radius: 50%;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  margin-right: 3px;
}

.live-stream span {
  font-size: 14px;
  color: #ec6090;
}

.live-stream .down-content h4 {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 61px;
}

.live-stream .main-button {
  text-align: center;
  margin-bottom: -53px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}